{% extends "base.html" %}
{% block content %}
<h1> {{post_settings["title"]}} </h1>
<p>
Going to fosdem is always somewhat of a reality check. You see how much you
stay in your silo at work, how few women there are in our sector and how small
the campus has gotten over the last few years. Meeting old colleagues and
learning new things always bring me back.
There is never enough time to visit all the talks you want to go to. fosdem is
a week worth of seminars condensed into 1 weekend.
</p>

<h5> Day 1 </h5>
I attended a few presentations today. Some interesting topics were:
<div class="list-group list-group-flush mb-3 mt-3">
  <a href="https://fosdem.org/2018/schedule/event/linux_up_and_running/" class="list-group-item list-group-item-action">
      How to keep your embedded <b>linux</b> device up and running
  </a>
  <a href="https://fosdem.org/2018/schedule/event/riscv/" class="list-group-item list-group-item-action">
      Igniting the open hardware ecosystem with <b>risc-v</b>
  </a>
  <a href="https://archive.fosdem.org/2018/schedule/event/om_gst_dbg/" class="list-group-item list-group-item-action">
      Modern tools to debug <b>GStreamer</b> applications
  </a>
  <a href="https://fosdem.org/2018/schedule/event/om_gst_embedded/" class="list-group-item list-group-item-action">
      <b>GStreamer</b> for embedded devices
  </a>
  <a href="https://git.tizen.org/cgit/tools/muxpi" class="list-group-item list-group-item-action">
      Piece of cake testing remote embedded devices made easy with <b>MuxPi</b>
  </a>
  <a href="https://archive.fosdem.org/2018/schedule/event/conan/" class="list-group-item list-group-item-action">
      Packaging C/C++ libraries with <b>Conan</b>
  </a>
  <a href="https://archive.fosdem.org/2018/schedule/event/home_assistant/" class="list-group-item list-group-item-action">
      Turning On the Lights with Home Assistant and <b>MQTT</b>
  </a>
  <a href="https://archive.fosdem.org/2018/schedule/event/mbed_pagekite/" class="list-group-item list-group-item-action">
      Accessing your Mbed device from anywhere using <b>Pagekite</b>
  </a>
  <a href="https://www.rtl-sdr.com/" class="list-group-item list-group-item-action">
      <b>rtl-sdr</b> cheap sdr for hobbyists
  </a>
  <a href="https://en.wikipedia.org/wiki/return-oriented_programming" class="list-group-item list-group-item-action">
      <b>rop</b> return oriented programming
  </a>
</div>
<p>
While the actual application of the first talk remains to be seen, they did
apply an interesting way of working. the concepts of 1 domain, the server
world, were applied to another, the embedded domain. Some tweaking was required
as you do not have the same amount of resources on an embedded device.  risc-v,
the second talk in the list, is an open source hardware project. The hardware
they showed the presentation on was a system with their chip on it. Very
impressive.
<p>
<img src="static/risc-v.jpg" alt="risc-v" style="width: 800px;" />


<h5> Day 2 </h5>
<p>
During this day I was responsible for the video stream in the iot devroom.
Sadly the second to last speaker was unable to make it, causing the last talk
to be nearly empty. on the demo tables there were people from <a
href="https://www.uba.be">hamradio</a> showcasing an interesting sdr waterfall:
</p>

<img src="static/hamradio.jpg" alt="hamradio" style="width: 800px;" />
<p>
after cleaning the devroom there was still time to attend one last <a
href="https://fosdem.org/2018/schedule/event/closing_keynote/"> talk </a>.
this room was packed. meltdown and spectre are big news after all.
</p>

<img src="static/janson.jpg" alt="janson" style="width: 800px;" />
{% endblock %}
